# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
numpy
tqdm
pylint
flask
flask-sqlalchemy
requests
pytest
tabulate
