@page "/"

@using System.Diagnostics
@rendermode InteractiveServer


<PageTitle>OSSQA</PageTitle>




<div class="d-flex justify-content-center flex-column align-items-center m-5">
    <img src="/images/LOGO_OSSQA.png" asp-append-version="true" width="500px" />
    
</div>

@if (true)
{
    <div class="d-flex justify-content-evenly">
        <button class="btn btn-primary" @onclick="()=>{displayPage = 0;}">home</button>
        <button class="btn btn-primary" @onclick="()=>{displayPage = 1;}">code vulnerabilities</button>
        <button class="btn btn-primary" @onclick="()=>{displayPage = 2;}">maintenance</button>
        <button class="btn btn-primary" @onclick="()=>{displayPage = 3;}">continuous testing</button>
        <button class="btn btn-primary" @onclick="()=>{displayPage = 4;}">source risk assessment</button>
        <button class="btn btn-primary" @onclick="()=>{displayPage = 5;}">build risk assessment</button>
    </div>
}


@switch(displayPage){
    case 0:
        <SbomAnalysis SbomResult="SbomResult" Analyzed="Analyzed"/>
        break;
    case 1:
        <CodeVulnerability SbomResult="SbomResult"/>
        break;
    case 2:
        <Maintenance SbomResult="SbomResult"/>
        break;
    case 3:
        <ContinuousTesting SbomResult="SbomResult"/>
        break;
    case 4:
        <SourceRiskAssessment SbomResult="SbomResult"/>
        break;
    case 5:
        <BuildRiskAssessment SbomResult="SbomResult"/>
        break;
}

@code{
    private int displayPage = 0;
    private Dictionary<string, List<string[]>> SbomResult = new ();
    private bool Analyzed = false;

}