@page "/"

@using System.Diagnostics
@rendermode InteractiveServer


<PageTitle>OSSQA</PageTitle>

<div class="d-flex justify-content-evenly">
    <button class="btn btn-primary" @onclick="()=>{displayPage = 0;}">home</button>
    <button class="btn btn-primary" @onclick="()=>{displayPage = 1;}">code vulnerabilities</button>
    <button class="btn btn-primary" @onclick="()=>{displayPage = 2;}">maintenance</button>
    <button class="btn btn-primary" @onclick="()=>{displayPage = 3;}">continuous testing</button>
    <button class="btn btn-primary" @onclick="()=>{displayPage = 4;}">source risk assessment</button>
    <button class="btn btn-primary" @onclick="()=>{displayPage = 5;}">build risk assessment</button>
</div>


<div class="d-flex justify-content-center flex-column align-items-center m-5">
    <img src="/images/LOGO_OSSQA.png" asp-append-version="true" width="500px" />
    
</div>






@switch(displayPage){
    case 0:
        <SbomAnalysis SbomResult="SbomResult"  />
        break;
    case 1:
        <ViewResults SbomResult="SbomResult" Tests='["Vulnerabilities"]' />
        break;
    case 2:
        <ViewResults SbomResult="SbomResult" Tests='["CII-Best-Practices", "Dependency-Update-Tool", "License", "Maintained", "Security-Policy"]' />
        break;
    case 3:
        <ViewResults SbomResult="SbomResult" Tests='["CI-Tests", "Fuzzing", "SAST"]' />
        break;
    case 4:
        <ViewResults SbomResult="SbomResult" Tests='["Binary-Artifacts", "Branch-Protection", "Code-Review", "Contributors", "Dangerous-Workflow"]' />
        break;
    case 5:
        <ViewResults SbomResult="SbomResult" Tests='["Packaging", "Pinned-Dependencies", "Signed-Releases", "Token-Permissions"]' />
        break;
}

@code{
    private int displayPage = 0;
    private Dictionary<string, List<string[]>> SbomResult = new ();

}