@using System.Text.Json

@* this component handles user requirement inputs*@


<div class="d-flex justify-content-center align-items-center flex-column">

    <h3 style="margin-bottom:1em;margin-top:1em;">Specify minimum score to pass</h3>

    <MatDivider></MatDivider>
    @foreach (var req in Requirements)
    {
        <PassingGradeSlider Requirements="Requirements" Req="req" ></PassingGradeSlider>

    }
    <MatButton Raised="true" Style="font-size:1.5em; width:20vw;margin-top:2em;" @onclick="()=>{ValidateReqs();}">Analyze</MatButton>
</div>




@code {
    [Parameter]
    public Dictionary<string, List<string[]>> SbomResult { get; set; }
    [Parameter]
    public Action StateHasChangedCallback { get; set; }
    [Parameter]
    public Dictionary<string, string> PostData { get; set; }
    [Parameter]
    public SortedDictionary<string, int> Requirements { get; set; }


    private void ValidateReqs()
    {
        List<string> requirementsString = new();
        PostData["user_reqs"] = JsonSerializer.Serialize(Requirements);
        StateHasChanged();
        StateHasChangedCallback.Invoke();
    }


}
