@* this component displays the logo*@

<div class="d-flex justify-content-center flex-column align-items-center m-5">
    <img src="/images/LOGO_OSSQA.png" asp-append-version="true" width="250px" />

</div>
