@* This component generates result for each category tab*@


@if (SbomResult != null)
{
    <div class="d-flex align-items-center justify-content-center">
    <MatTable Items="@SbomResult[0].scored_dependencies" class="mat-elevation-z5">

        <MatTableHeader>
            <th>Component</th>
            <th>Score</th>
            <th>Reach requirement</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.name</td>
            <td>@context.dependency_score.score</td>
            <td>@context.reach_requirement</td>
        </MatTableRow>
    </MatTable>
    </div>
}



@code {
    [Parameter]
    public List<SbomAnalysis.Sbom> SbomResult { get; set; }
    [Parameter]
    public string[] Tests { get; set; }
    [Parameter]
    public SortedDictionary<String, int> Requirements { get; set; }

}
