@page "/"
@using System.Diagnostics
@rendermode InteractiveServer
@inject HttpClient Http
@inject HttpClient httpClient
@using System.Text.Json
@using System.Net.Http.Headers

<PageTitle>OSSQA</PageTitle>
<div class="d-flex justify-content-center flex-column align-items-center m-5">
    <img src="/images/LOGO_OSSQA.png" asp-append-version="true" width="500px" />
    <input type="text" placeholder="Link to GitHub repository..." @onchange="OnChange">
</div>

<div class="d-flex justify-content-center">
    <InputFile accept=".json" OnChange="GetInput"  />
    <button class="btn btn-primary" @onclick="LoadFile">Start scan</button>
</div>

@if (loadedFile) {
    <p role="status">Result: @path</p>
}

@code {
    private IBrowserFile? file;
    private string path = "";
    private bool loadedFile = false;
    private async Task LoadFile()
    {
        loadedFile = true;
        using var memoryStream = new MemoryStream();
        if(file == null)
        {
            path = "No file selected";
            return;
        }
        await file.OpenReadStream().CopyToAsync(memoryStream);
        //path = System.Text.Encoding.UTF8.GetString(memoryStream.ToArray());

        HttpResponseMessage result = await Http.PostAsJsonAsync("http://127.0.0.1:5080/upload", path);
        path = await result.Content.ReadAsStringAsync();

    }

    private void GetInput(InputFileChangeEventArgs e)
    {
        file = e.File;
    }
    private void OnChange(ChangeEventArgs e)
    {
        // TODO: check if valid link
    }
}